{% extends "base.html" %}

{% block content %}

    <div class="col-sm-8 col-sm-offset-2">
    <h1>Lists</h1>
 <div class="row">
{% for obj in objectsList %}

  <div class="col-sm-6 col-sm-offset-6"">
    <div class="thumbnail">
    {% if obj.image %}
     <img src="{{ obj.image.url }}" class="img-responsive"></img>
        {% endif %}
      <div class="caption">
        <h3><a href="{% url "detail" id=obj.id %}">{{ obj.title }}</a> <br><small> {{ obj.publish }}<br></small></h3>
        <p>{{ obj.content|linebreaks|truncatechars:120 }} <br></p>
                {% if obj.user.get_full_name %}
    <p> Author : {{ obj.user.get_full_name }}</p>
    {% endif %}
        <p><a href="{% url "detail" id=obj.id %}" class="btn btn-primary" role="button">Read More</a> </p>


      </div>
    </div>
  </div>
{% endfor %}

    <div class="pagination">
    <span class="step-links">
        {% if objectsList.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ objectsList.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ objectsList.number }} of {{ objectsList.paginator.num_pages }}.
        </span>

        {% if objectsList.has_next %}
            <a href="?page={{ objectsList.next_page_number }}">next</a>
            <a href="?page={{ objectsList.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>


</div>
    </div>
{% endblock content %}


<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div>